<div class="floating-blobs">
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
</div>

<!-- Decorative shapes -->
<div class="shape-decoration" style="top: 15%; left: 8%;">
  <span style="font-size: 1.5rem; opacity: 0.15;">♡</span>
</div>
<div class="shape-decoration" style="top: 40%; right: 12%;">
  <span style="font-size: 1.2rem; opacity: 0.12;">✦</span>
</div>
<div class="shape-decoration" style="bottom: 25%; left: 15%;">
  <span style="font-size: 1.3rem; opacity: 0.1;">❀</span>
</div>
<div class="shape-decoration" style="bottom: 40%; right: 8%;">
  <span style="font-size: 1rem; opacity: 0.12;">♡</span>
</div>
